:root {
  --primario: #FEF1E6;
  --primarioOscuro: rgba(106, 17, 203, 1);
  --secundario: #ffce00;
  --secundarioOscuro: rgb(233, 187, 2);
  --blanco: #fff;
  --negro: #000;

  --fuentePrincipal: "Staatliches", cursive;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/** Globales **/
body {
  background-color: var(--primario);
  font-size: 1.6rem;
  line-height: 1.5;
}
p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blanco);
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  padding-top: 10rem;
}
h1,
h2,
h3 {
  text-align: center;
  color: var(--secundario);
  font-family: var(--fuentePrincipal);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}

/** Header **/

.filtro {
  text-align: center;
  font-size: 15px;
}
.header {
  display: flex;
  justify-content: center;
}

/** Footer **/
.footer {
  background-color: var(--primarioOscuro);
  width: 100%;
  height: 81px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer__texto {
  font-family: var(--fuentePrincipal);
  text-align: center;
  font-size: 2.2rem;
}
/** Navegacion **/

.navegacion__enlace {
  font-family: var(--fuentePrincipal);
  color: var(--blanco);
  font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
  color: var(--secundario);
}

/** Grid **/
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/** Productos **/
.producto {
  background-color: var(--primarioOscuro);
  padding: 1rem;
}

.producto__nombre {
  font-size: 4rem;
}
.producto__precio {
  font-size: 2.8rem;
  color: var(--secundario);
}
.producto__nombre,
.producto__precio {
  font-family: var(--fuentePrincipal);
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}

/** Graficos **/
.grafico {
  min-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 3;
}
.grafico--camisas {
  grid-row: 2 / 3;
  background-image: url(../img/grafico1.jpg);
}
.grafico--node {
  background-image: url(../img/grafico2.jpg);
  grid-row: 8 / 9;
}

@media (min-width: 768px) {
  .grafico--node {
    grid-row: 5 / 6;
    grid-column: 2 / 4;
  }
}

/** Nosotros **/
.nosotros {
  display: grid;
  grid-template-rows: repeat(2, auto);
}
@media (min-width: 768px) {
  .nosotros {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
.nosotros__imagen {
  grid-row: 1 / 2;
}
@media (min-width: 768px) {
  .nosotros__imagen {
    grid-column: 2 / 3;
  }
}

/** Bloques **/
.bloques {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (min-width: 768px) {
  .bloques {
    grid-template-columns: repeat(4, 1fr);
  }
}

.bloque {
  text-align: center;
}

.bloque__titulo {
  margin: 0;
}

/** Pagina del Producto **/
@media (min-width: 768px) {
  .camisa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.formulario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.formulario__campo {
  border: 1rem solid var(--primarioOscuro);
  background-color: transparent;
  color: var(--blanco);
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  appearance: none;
}
.formulario__submit {
  background-color: var(--secundario);
  border: none;
  font-size: 2rem;
  font-family: var(--fuentePrincipal);
  padding: 2rem;
  transition: background-color 0.3s ease;
  grid-column: 1 / 3;
}
.formulario__submit:hover {
  cursor: pointer;
  background-color: var(--secundarioOscuro);
}

.logo {
  width: 20%;
  margin-left: 2rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.input-search {
  width: 18rem;
  height: 4rem;
  margin-right: 5rem;
  border-radius: 1rem;
  text-align: center;
  margin-top: 1rem;
}
.barra-search {
  display: flex;
  margin-right: 5rem;
  font-family: var(--fuentePrincipal);
  margin-top: 5rem;
}

.btnBuscar {
  margin-left: -44px;
  width: 10rem;
  height: 4rem;
  border-radius: 1rem;
  font-family: var(--fuentePrincipal);

  margin-top: 1rem;
}
#btnTodos,
#btnWindows,
#btnLinux {
  height: 5rem;
  background-color: #89119d;
  border-radius: 1rem;
  margin-right: 2rem;
  font-family: var(--fuentePrincipal);
  margin-top: 5rem;
}
#btnLinux {
  margin-right: 30rem;
}
.nav-link .icon {
  margin-left: 5rem;
  width: 6rem;
}
.navegacion {
  background-color: var(--primarioOscuro);

  display: flex;
  justify-content: center;
  gap: 2rem;
}
.juego {
  display: grid;
  width: 135rem;
  margin: 0 auto;
  grid-template-rows: auto;
  grid-gap: 21px;
  grid-template-columns: repeat(5, 0.5fr);
  
}
.card{
  border: 5px solid #000;
  border-radius: 10px;
  text-align: center;
  color: #89119d;
}
.card-img-top {
  width: 100%;
  height: 10rem;
}

.btn-primary{
  background-color: #89119d;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
}
.card-text{
  color: #000;
  font-size: 10px;
}

.card-title{
  font-size: 15px;
}